

.qode-banner .qode-banner-content {opacity: 0 !important;}
.icon_holder  {	cursor:pointer; }

.nobullet-list {list-style:none; margin:0; padding:0; }

.percent-off-widget .widget {margin-bottom:0!important; }

.qode-banner .qode-banner-image img {width:100%; }

.mobile_menu_button .fa-bars {font-size:20px; }

/* Home */

.home-top-icons-with-text .q_icon_with_title .icon_with_title_link {color:#58585a; font-size: 15px; line-height: 1.5em; font-weight:600; margin-top:0; letter-spacing: 0.05em; text-transform:uppercase; }

/* Merchant */
.merchant-list li a { font-size: 12px;  color: #000;}
.about-merchant-title-row .merchant-phone {font-size:24px; color:#000; }

/* Footer */
.footer_top {padding:10px 0 15px; }
.footer_top .footer_col1 {position:relative; }
.footer-logo-col img {max-height:250px; width:auto; margin:-30px auto; }
.footer-site-info-col {padding:15px 0; }
.footer-site-info-col h5 {text-transform:none; margin-bottom:8px; font-size:15px; letter-spacing:normal;}
.footer-site-info-col p {font-size:16px; line-height:normal; padding-bottom:17px; }

.footer_top .footer-links-panel .vc_col-sm-4 {padding:0 5px;}
.footer_top .footer-links li {line-height:1.4; }
.footer_top .footer-links a {font-size:12px;}

.footer_top h5 {text-transform:none; }
.footer_top .footer_col2 {padding-top:25px; }
.footer_top .footer_col2 h5 {text-transform: none; margin-bottom: 18px; font-size: 37px; font-style: italic; font-weight: normal; font-family: Georgia, Arial; letter-spacing: 0;  line-height: normal; }
.footer_top .footer_col3 {padding-top:23px; }
.footer_top .footer_col3 h5 {text-transform:none; margin-bottom: 0; font-size: 15px; }

.footer-social {overflow:hidden; padding-bottom:11px; }
.footer-copyright {line-height:normal; font-size: 14px; letter-spacing: 0.05em; }

@media only screen and (max-width: 1000px) {
.footer_top .footer_col1 {width:60%; }
.footer_top .footer_col2 {width:40%;}
.footer_top .footer_col2 h5 {padding:0;}
.footer_top .footer_col3 {width:100%; padding-top:30px;  }

}

@media only screen and (max-width: 767px) {
header .q_logo img.mobile {height:auto!important; width:100%!important; margin-left:20px; display:inline-block!important; vertical-align:middle; }
header .q_logo a {line-height:80px; display:inline-block; }

.footer_top .footer_col1 {width:100%; float:none; display:block; }
.footer-logo-col {position:relative; margin:0 auto 10px; }
.footer-site-info-col {padding:0; }
.footer_top .footer_col2 {width:100%; float:none; display:block; padding-top:0; }
.footer_top .footer_col3 {padding-top:35px;  }
.footer_top .footer_col3 h5 {margin-bottom:8px; }

.percent-off-widget .widget p {font-size:18px!important;}

.merchant-name-boxes {padding-bottom:0!important; }
.merchant-name-boxes  .vc_col-sm-3 {margin-bottom:10px; }
.wpb_column.vc_column_container.vc_col-sm-6, .wpb_column.vc_column_container.vc_col-sm-4 {margin:10px 0;}

}